#wc_output
{ width: 100%;
    heigth: 200px;
    overflow: auto;
}

form.inactive
{ color: #ccc;
}

#preview h1,address
{ display: none;
}

body {
    background-color: antiquewhite;
}

.container p {
    color: #F0BE62;
    padding-left: 20px;
}

.container .row {
    color: white;
}

body h1 {
    font-weight: bold;
    color: greenyellow;
}

.container .form-group {
    background-color: #AEF062;
}

.container .form-group p {
    color: white;
    padding-left: 20px;
    padding-top: 20px;
}

.container .form-group .btn-group {
    padding-left: 20px;
    padding-bottom: 20px;
}

.container table tr td {
    color: #AEF062;
}

.container table tr th {
    color: #F0BE62;
}
